*{
    margin: 0px;
    padding: 0px;
}

/* header style start */
.header{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 0px 200px;
    max-width: 1920px;
    max-height: 100vh;
    gap: 80px;
}

.header-contant{
    width: 55%;
    padding: 190px 0px;
}

.header-title{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}

.description{
    padding: 32px 0px;
    color: rgba(50, 70, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.button{
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.header-img{
    margin-top: 100px;
}


/* header style end */


/* main section start */
