*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Lato', sans-serif;
}

/* header style start */
.header{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 0px 220px;
    max-width: 1920px;
    gap: 80px;
}

.header-contant{
    width: 55%;
    margin: 190px 0px 160px 0px;
}

.header-title{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    max-width:700px;
}

.description{
    padding: 32px 0px;
    color: rgba(50, 80, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.button{
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.header-img{
    margin-top: 100px;
}


/* header style end */


/* main section style start */
main{
    max-width: 1440px;
    margin: 150px auto;
}

/* section1 style start */
.section1-contant{
    margin:5px 350px;
    text-align: center;
}
.title{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
}

.section1-picture{
    display: flex;
    gap: 24px;
    justify-content: space-around;

}

.picture1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.picture2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(178, 13, 203, 0.495);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.picture3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(51, 18, 34, 0.15);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.flower-name{
    padding: 20px;
    color: #272727;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* section1 style end */