*{
    margin: 0px;
    padding: 0px;
    display: flexbox;
}

body{
    font-family: 'Lato', sans-serif;
}

/* header style start */
.header{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    padding: 0px 220px;
}
.header-contant{
    width: 55%;
    margin: 190px 0px 160px 0px;
}

.header-title{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    max-width:700px;
}

.description{
    padding: 32px 0px;
    color: rgba(50, 80, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.button{
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    background: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.header-img{
    margin-top: 100px;
}
/* header style end */


/* main section style start */
main{
    max-width: 1480px;
    margin: 150px auto;
}

/* section1 style start */
.section1-contant{
    margin:50px 350px;
    text-align: center;
}
.title{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
}

.section1-picture{
    display: flex;
    justify-content: space-between;

}

.picture1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.picture2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(178, 13, 203, 0.495);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.picture3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(51, 18, 34, 0.15);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.flower-name{
    padding: 20px;
    color: #272727;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* section1 style end */


/* section2 style start */
.section2{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    padding: 0px 220px;
    max-height: 600px;
}

.section2-contant{
    width: 55%;
    margin: 190px 0px 160px 0px;
}

.section2-title{
    color: #272727;
    font-size:  40px;
    font-style: normal;
    font-weight: 700;
}

.section2-img{
    margin: 100px 0px;
}
/* section2 style end */


/* section3 style start */

.section3-contant{
    margin:5px 350px;
    text-align: center;
}

.section3-picture{
    display: flex;
    justify-content: space-between;
}
/* section3 style end */


/* section4 style start */
.section4{
    background-image: url("/image/Rectangle\ 9.png");
    background-size: cover;
    margin: 120px 0px;
    height: 450px;
    text-align: center;

    border: 1px solid blueviolet;
    border-radius: 8px;
}

.section4-container{
    padding:120px 280px;
}

.form input[type="email"]{
    background: #FFF;
    border: 1px solid blueviolet;
    border-radius: 8px;
    width: 700px;
    height: 64px;
}
/* section4 style start */